<!DOCTYPE html>
<html>
    <head>
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(ingredient, index) in ingredients"> {{ ingredient }}, {{ index }}</li>
                <!-- v-for để loop qua toàn bộ cái list còn ingredient là cái biến tạm để loop qua list -->
                <!-- 2 biến ingredient và index lần lượt để chỉ giá trị và chỉ số index trong list 2 biến này đặt tên như nào cũng được -->
            </ul>
            <hr>
                <li v-for="person in persons">
                    <div v-for></div>
                </li>
            <hr>
            <template v-for="(ingredient, index) in ingredients">
                <h1> {{ ingredient }} </h1>
                <p> {{ index }} </p>
            </template>
            <!---->
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    ingredients: ['meat', 'fruit', 'cookies'],
                    persons: [
                        {name: "Max", age: 27, color: 'red'},
                        {name: "Anna", age: 'unknown', color: 'blue'}
                    ]
                }
            });
        </script>
    </body>
</html>